<% content_for :title do %>
  Home
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-offset-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <%= link_to 'BJR Queensland Pty Ltd', bjrqld_path, class: 'btn btn-default btn-block' %>
          <%= link_to 'NVS Earthmoving', nvs_path, class: 'btn btn-default btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>
